<!-- [slidesPerView]="1"  -->
     <swiper-container 
     #swiper
     (afterinit)="swiperReady()"
     [loop]="true" 
     
     (slidechange)="swiperSlideChanged($event)"
     autoplay="{delay: 5000}"
     >
        <swiper-slide  *ngFor="let image of images">
          <div class="image-container">

            <img style="cursor: grab " [src]="image.details" />
            <!-- <div class="title"> -->
              <p>{{image.title}}</p>
            <!-- </div>  -->
          </div>
        </swiper-slide>
       
      </swiper-container>