

<ion-content [fullscreen]="true">

  <ion-card class="container" color="secondary">

    <div class="content">

      <h1>Áraink</h1>
      <div id="prices">
        
        <div class="prices">
  
          
        <h2>Felmérés</h2>
        <h3>{{prices[0].title}}</h3>
        <p>{{prices[0].description}}</p>
        <!-- <p>Kivonat a helyszíni bejáráson tapasztaltakról</p> -->
        <p class="price">{{prices[0].details}}</p>
        <hr>
        <h3>{{prices[1].title}}</h3>
        <p>{{prices[1].description}}</p>
        <p class="price">{{prices[1].details}}</p>
        <p >* Alapár : egyszerű, felár: bonyolult alaprajz</p>
        <p >Példa: Egy 100 m2-es családi ház felmérése tervdokumentációval együtt 280 000 Ft.- ba kerül.</p>
        <hr>
        <h2>Tanácsadás</h2>
        <h3>{{prices[2].title}}</h3>
        <p>{{prices[2].description}}</p>
        <p class="price">{{prices[2].details}}</p>
        <hr>
        <h2>Koncepció</h2>
        <h3>{{prices[3].title}}</h3>
        <p>{{prices[3].description}}</p>
        <p class="price">{{prices[3].details}}</p>
        <hr>
        
  
      
    
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
