p{
    display: inline;
    // text-decoration: underline 2px var(--ion-color-warning) ;
    transition: background-color 0.5s ease-in-out, box-shadow .5s ease-in-out;
    &:hover{
      background-color: var(--ion-color-primary);
      // box-shadow: inset 100vw 100vh 0 0 var(--ion-color-primary);
      // color: white;
    }
  
    }