

<ion-content [fullscreen]="true">
  <div id="about">
    <strong>Kinek ajánljuk szolgáltatásunkat? </strong>
    <p>Mindenkinek, 
      aki ingatlanvásárláson gondolkozik, 
      bővíteni szeretné otthonát, 
      vagy építési telkeket nézeget. 
      Ha ingatlant szeretnél vásárolni vagy otthonodat szeretnéd bővíteni, sok kérdés merülhet fel benned.
      Milyen potenciál van az adott ingatlanban 
      beépíthetőség, térkapcsolatok, szerkezetek – tekintetében.
      Ezeknek a kiaknázására milyen beavatkozásokra van szükség, és hogy hogyan zajlik majd az ehhez kapcsolódó hatósági ügyintézés.
      Ha szakértői véleményre van szükséged új otthonod vásárlása előtt, vagy meglévő épület átalakításához, fordulj bizalommal építész csapatunkhoz.</p>
  </div>
</ion-content>
