

<ion-content [fullscreen]="true">
  <!-- <app-menu></app-menu> -->

  <ion-card class="container" color="secondary">

    <h1>Mi a szolgáltatás?</h1>
    <div id="services">
  
      <div class="services">
  
        <ion-card color="inherit" *ngFor="let service of services">
            <ion-text >
              <h2>
                {{service.title}}
              </h2>
                <p>
      
                  {{service.description}}
                </p>
              </ion-text>
         </ion-card>
  
  
      </div>
    </div>
  </ion-card>
</ion-content>
