h4:hover::before {
  // bottom: 0;
  width: 110%;
  height: 5%;
}

h4::before {
  content: '';
  background-color: var(--ion-color-success);
  position: absolute;
  left: -5%;
  bottom: 50%;
  width: 0%;
  height: 0px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a{
  text-decoration: none;
}

.mission {

  transition: text-shadow 3s ease-in-out, text-decoration 3s ease-in-out;
  text-decoration: underline var(--ion-color-danger) ;
  &:hover{
    text-shadow: 1px 1px var(--ion-color-danger);
    // color: white;
  }
}

.grid{ 
  
  
  h2{
  display: inline-block;
  white-space: pre-line;
  text-decoration: underline 2px var(--ion-color-warning) ;
  transition: background-color 3s ease-in-out, box-shadow .5s ease-in-out;
  &:hover{
    // background-color: var(--ion-color-danger);
    box-shadow: inset 100vw 0 0 0 var(--ion-color-danger);
    // color: white;
  }
  // box-shadow: inset auto 0px 0px var(--ion-color-danger);
  // text-decoration: underline var(--ion-color-danger) ;
}
}
