<ion-content [fullscreen]="true">
  <ion-card class="container" color="black">
    <div class="content">
      <h1>{{title}}</h1>
      <!-- <p class="mission">{{mission}}</p> -->
      <p>{{introduction}}</p>
      <div class="buttoncontainer">
        <ion-button color="danger" size="large" href="#contact">
          <h4>Kapcsolat</h4></ion-button
        >
      </div>
    </div>
  </ion-card>

  <ion-card class="container" color="secondary">
    <div  class="content swiper">
      <!-- <h1>Profil</h1> -->
      <h1>Építészeti tanácsadás</h1>
      <p color="inherit">{{motivation[0]}}</p>
      <!-- <p color="inherit" *ngFor="let senteces of motivation">{{senteces}}</p>  -->
      <p>{{motivation[1]}}</p>
      <p >{{motivation[2]}}</p>
      <p>{{motivation[3]}}</p>
      <p>{{motivation[4]}}</p>
      <p>{{motivation[5]}}</p>



        <app-swiper
        [images]="images"
        >
        </app-swiper>
      
    </div>
  </ion-card>

  <!-- <ion-card class="container" color="secondary">
    <div  class="content swiper">
      <h1>Referenciák</h1>
        <app-swiper
        [images]="images"
        >
        </app-swiper>

    </div>
  </ion-card> -->

  <ion-card class="container" color="warning">
    <div class="content">
      <h1 style="hyphens: auto;">Kinek ajánljuk szolgáltatásunkat?</h1>

      <div>
        <h3 style="font-family: var(--ion-font-secondary)">
          {{targets}}
        </h3>
      </div>
      <p color="inherit" *ngFor="let question of faqs">{{question}}</p>

      <h2 style="font-family: var(--ion-font-secondary)">{{invitation}}</h2>
    </div>
  </ion-card>

  <ion-card class="container" color="success">
    <div class="content">
      <h1>Szolgáltatás</h1>

      <ion-card class="grid" color="inherit" *ngFor="let service of services">
        <div>
          <h2>{{service.title}}</h2>
          <div>
            <ion-text
              style="cursor: pointer"
              color="danger"
              [routerLink]="['/services']"
              ><p >+++</p></ion-text
            >
          </div>
        </div>

        <p>{{service.description}}</p>
      </ion-card>
    </div>
  </ion-card>

  <ion-card class="container" color="black">
    <div class="content">
      <h1>Rólunk</h1>
      <div class=" about">
        <ion-img class="image" src="../../../assets/images/hands-engineer.jpg">
        </ion-img>

        <p>{{about}}</p>
        <p style="font-style: italic; text-align: end;" >{{ceo}}</p>
        <!-- <p *ngFor="let reference of referencies">{{reference}}</p> -->

      </div>
      <div>
        <ion-button color="primary" size="large" [routerLink]="['/about']">
          <h4>Rólunk</h4></ion-button
        >
      </div>
    </div>
  </ion-card>

  <ion-card id="contact" class="container" color="danger">
    <div class="content">
      <h1>Kapcsolat</h1>

      <div>
        <p>{{name}}</p>
      </div>
      <div>
        <p>email: {{email}}</p>
      </div>

      <div>
        <p>tel: {{tel}}</p>
      </div>

      <a href="{{instagram}}" target="_blank"><p>archicare instagram</p></a>
      <div>
        <p>{{address}}</p>
      </div>
      <div>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10784.916242982283!2d19.0640251!3d47.4854509!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741ddb19c701063%3A0xe1bcb914979cb3f5!2zS8O2emJlbg!5e0!3m2!1shu!2shu!4v1684691490507!5m2!1shu!2shu"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
      
      </div>
    </div>
  </ion-card>
</ion-content>
