h4:hover::before {
  // bottom: 0;
  width: 110%;
  height: 5%;
}

h4::before {
  content: '';
  background-color: var(--ion-color-success);
  position: absolute;
  left: -5%;
  bottom: 50%;
  width: 0%;
  height: 0px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a{
  text-decoration: none;
}

.mission {

  transition: text-shadow 3s ease-in-out, text-decoration 3s ease-in-out;
  text-decoration: underline var(--ion-color-danger) ;
  &:hover{
    text-shadow: 1px 1px var(--ion-color-danger);
    // color: white;
  }
}

.grid{ 
  h2{
  display: inline;
  // white-space: pre-line;
  text-decoration: underline 2px var(--ion-color-warning) ;
  transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out;
  &:hover{
    background-color: var(--ion-color-primary);
    box-shadow: inset 100vw 100vh 0 0 var(--ion-color-primary);
    // color: white;
  }
 
}
}

#contact{
  p{
  display: inline;
  // text-decoration: underline 2px var(--ion-color-warning) ;
  transition: background-color 0.5s ease-in-out, box-shadow .5s ease-in-out;
  &:hover{
    background-color: var(--ion-color-primary);
    // box-shadow: inset 100vw 100vh 0 0 var(--ion-color-primary);
    // color: white;
  }

  }
}

.image{
  position: relative;
}

.image::before{
  content: '';
  // background-color: var(--ion-color-success);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-image: linear-gradient(120deg, #eaee44, #33d0ff);
  background-color:  var(--ion-color-primary);
  opacity: .7;
  // z-index: 100;

}

.about{
  p{
    margin: 1em 0;
  }
}