/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";
@import "./theme/media.scss";

html {
    font-family: var(--ion-font-family);  
    
  } 


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    font-size: 2em;
    font-family: var(--ion-font-secondary);  
    @include tablet{
        font-size: 1.5em;
    }  
    @include mobile{
        font-size: 1.2em;
    }
}

h1{
    font-size: 6em;
    line-height: 0.8em ;
    @include tablet{
        font-size: 4em;
    } 
    @include mobile{
        font-size: 3em;
    }
   
}

h2{
    font-size: 3em;
    font-weight: 700;
    @include tablet{
        font-size: 2em;
    } 
}

h3{
    font-size: 2em;
    font-weight: 700;
    @include tablet{
        font-size: 1.5em;
    } 
}

h4{
    font-size: 1.2em;
    font-weight: 700;
    @include tablet{
        font-size: 1em;
    } 
}

hr{
    border: none;
    border-top: 1px solid black;
    height: 5px;
    box-shadow: none;
}

ion-button,
ion-fab-button {
    // --background: var(--ion-color-dark);
    // --background-hover: var(--ion-color-danger);
    // --background-activated: var(--ion-color-danger);
    // --background-focused: var(--ion-color-secondary);

    // --color: blue;
  
    --border-radius: 0;
    // --border-color: #000;
    // --border-style: solid;
    // --border-width: 1px;
    // --border-hover: red ;
    
    
    --box-shadow: none;
   
    // --box-shadow: 5px 5px 0px 0px rgb(0, 0, 0);
  }

a{
    text-decoration: none;
    color: inherit;
}

ion-card{
    border-radius: 0;
    box-shadow: none;
    text-decoration: none;

}

.container {
    display: flex;
    min-height: 100vh;
    padding: 10em;
    gap: 2em;
    // border: none; 
    // box-shadow: none; 
    // margin: 0;
    padding-top: 20em;
    // &:nth-of-type(1){
    //     padding-top: 20em;
    // }
    // border-radius: 0;
    @include tablet{
        padding: 2em;
        padding-top: 10em;
        height: auto;
    }
    @include mobile{
        padding: 2em;
        padding-top: 10em;
        height: auto;
    }
  }

  .content{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    margin: auto;
    // align-items: center;
    // min-height: 100vh;
    // padding: 10em;
    gap: 2em;
  }

  .grid{
    display: grid;
    grid-template-columns: 40% 60%;
    h2{
        
    }
    @include mobile{
        display: flex;
        flex-direction: column;
    }

  }
.grid-item{
    padding: 0em 1em;
}
ion-header{
    // max-width: 800px;
    width: 100vw;
    display: flex;
    // flex-direction: column;
    position: relative;
    justify-content: center;
    
    // align-items: flex-start;
    padding: 2em 8.8em;
 
    @include mobile{
        flex-direction: column;
        gap: 1em;
        padding: 1em;
       
    }
    .header{
        width: 800px;
        display: flex;
        // flex-direction: column;
        position: relative;
        justify-content: space-between;
        @include tablet{
            width: auto;
            flex-direction: column;
            gap: 1em;
            padding: 1em;
    
        }
        @include mobile{
            width: auto;
        }
        
    }
    .menu{
        position: absolute;
        top: 0.8em;

        @include mobile{
                position: absolute;
                top: 4em;
                right: 1.6em;
        }
    }
}

  // .container {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     padding: 12em;
//     gap: 2em;
//     border: none; 
//     box-shadow: none; 
//     margin: 0;
//     border-radius: 0;
//   }


/* Basic CSS for apps built with Ionic */
// @import "@ionic/angular/css/normalize.css";
// @import "@ionic/angular/css/structure.css";
// @import "@ionic/angular/css/typography.css";
// @import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "@ionic/angular/css/padding.css";
// @import "@ionic/angular/css/float-elements.css";
// @import "@ionic/angular/css/text-alignment.css";
// @import "@ionic/angular/css/text-transformation.css";
// @import "@ionic/angular/css/flex-utils.css";
