<ion-header>
  <ion-text class="logo" color="dark">
    <a [routerLink]="['/home']">
      <h3>VKV ARCHITETURAL STARTER KIT</h3>
    </a>
  </ion-text>

  <ion-fab class="menu">
    <ion-fab-button class="menuButton" size="large">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list
      side="bottom"
      style="align-items: start; justify-content: flex-start"
    >
      <ion-button [routerLink]="['/home']">Kezdőlap</ion-button>

      <ion-button [routerLink]="['/about']">RÓLUNK</ion-button>

      <ion-button [routerLink]="['/services']">SZOLGÁLTATÁS</ion-button>
      <ion-button [routerLink]="['/services']">KAPCSOLAT</ion-button>
    </ion-fab-list>
  </ion-fab>
</ion-header>
